/UT3 - practico individual/PD9/UT3_PD9/target/
/UT3 - practico individual/PD6/UT3_PD6netBeans/target/
/PredictorTrie/build/
/PredictorTrie/nbproject/private/
/UT5_PredictorTrie/build/
/UT5_PredictorTrie/nbproject/private/
/UT5_PD7_ModifiedEx2/UT5_PD7modificado/nbproject/
/UT5_PD7_ModifiedEx2/UT5_PD7modificado/target/
/UT5_PD7ModifiedEx2/UT5_PD7modificado/nbproject/
/UT5_PD7ModifiedEx2/UT5_PD7modificado/target/
/UT5_PD7Modified/UT5_PD7modificado/nbproject/
/UT5_PD7Modified/UT5_PD7modificado/target/
/UT6/UT6 - practico individual/PD1/UT6_PD1/target/
/UT6/UT6 - practico individual/PD2/UT6_PD2/target/
/UT6/UT6 - practico individual/PD3/PD3_ej4code/PD3_Ej4/PD3_Ej4/target/
/UT6/UT6 - practico individual/PD3/PD3codes/target/
/UT6/UT6 - practico individual/PD4/UT6_PD4/target/
/UT6/UT6 - practico individual/PD5/UT6_PD5/target/
/UT6/UT6 - practico individual/PD5/UT6_PD5_Ej3/target/
/UT6/UT6 - practico individual/PD7/UT6_PD7/target/
/UT6/UT6 - practico individual/PD5/UT6_PD5_Ej3/nbproject/
/LeetCode/UT4_Leetcode/target/
/TDAsSecondHalf/TDAsSecondHalf/nbproject/private/
/TDAsSecondHalf/TDAsSecondHalf/build/
/TDAsSecondHalf/TDAsSecondHalf/dist/
